@* ReSharper disable once InconsistentNaming *@

@code {
	/// <summary>
	/// Default render fragment used when routing hits a vault Folder.
	/// </summary>
	/// <param name="ctx">The render context.</param>
	/// <returns>A default render fragment, which simply lists the folder's notes inside <c>ul</c> elements.</returns>
	public static RenderFragment Render(FoundFolderRenderContext ctx) => __builder =>
	{
		<nav name="@ctx.Folder.Name">
			<h1>@ctx.Folder.Name</h1>
			
			<ul>
				@foreach (IVaultFolder subfolder in ctx.Folder.Subfolders)
				{
					<li>
						<a href="@subfolder.Path/">@subfolder.Name</a>
					</li>
				}
			</ul>

			<ul>
				@foreach (IVaultFile file in ctx.Folder.Files)
				{
					<li>
						<a href="@file.Path[..^3]">@file.Name[..^3]</a>
					</li>
				}
			</ul>
		</nav>
	};

	/// <summary>
	/// Render context for a found folder.
	/// </summary>
	/// <param name="Folder">The folder that was found.</param>
	/// <param name="DisplayOptions">The display options to use.</param>
	public sealed record FoundFolderRenderContext(IVaultFolder Folder, ObsidianVaultDisplayOptions DisplayOptions)
		: TemplateRenderContextBase(DisplayOptions);

}