---
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const defaultProps = {
  title: "MoltenObsidian",
  description: ".NET 6+ Library for Obsidian-flavoured Markdown parsing for Blazor with Vault mapping support."
}

const { title, description } = defaultProps;
const base = import.meta.env.BASE_URL ?? "/";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href={base + "favicon.ico"} />
<link rel="icon" type="image/png" sizes="512x512" href={base + "android-chrome-512x512.png"} />
<link rel="icon" type="image/png" sizes="192x192" href={base + "android-chrome-192x192.png"} />
<link rel="apple-touch-icon" sizes="180x180" href={base + "apple-touch-icon.png"}>
<link rel="icon" type="image/png" sizes="150x150" href={base + "mstile-150x150.png"}>
<link rel="icon" type="image/png" sizes="32x32" href={base + "favicon-32x32.png"}>
<link rel="icon" type="image/png" sizes="16x16" href={base + "favicon-16x16.png"}>
<link rel="manifest" href={base + "site.webmanifest"}>
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<!--<link rel="canonical" href={canonicalURL} />-->

<!-- Primary Meta Tags -->
<title>{title}</title>
<base href={base} />
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={base + "android-chrome-192x192.png"} />


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />